:root {
  /*light mode*/
  --bgc: #ffffff;
  --color: #ff5733;
  --sec-color: #000000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
}
body {
  background: var(--bgc);
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 2em 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.themes {
  margin-top: 1.3em;
}
.themes-icon {
  cursor: pointer;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--sec-color);
}
main {
  padding: 2em 0;
}
h2 {
  color: var(--sec-color);
}
main hr {
  margin: 0.7em 0;
  height: 0.1px;
  width: 100%;
  background-color: var(--sec-color);
  border-radius: 20px;
  opacity: 0.5;
}
.input-container {
  padding: 1em 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.task-input {
  background-color: var(--bgc);
  color: var(--sec-color);
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 800px;
  font-size: 1.4rem;
  height: 50px;
}
.task-input::placeholder {
  font-size: 1rem;
}
.add-icon {
  width: 25px;
}
.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--sec-color);
  width: 190px;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  height: 50px;
}
.add-button:hover {
  background-color: #c70029;
  transform: scale(1.01);
}
.checkbox {
  position: relative;
  align-self: flex-start;
  margin-top: 0.36em;
  padding-right: 40px;
}

.checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

.checkmark {
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  top: 0;
  left: 0;
  border: 2px solid var(--color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.checkbox input:checked ~ .checkmark {
  background-color: var(--bgc);
}

.checkbox input:checked ~ .checkmark::after {
  content: "";
  position: absolute;
  border: solid var(--color);
  left: 9px;
  top: 4px;
  width: 3px;
  height: 11px;
  border-width: 0 3.5px 3.5px 0;
  border-radius: 2px;
  transform: rotate(45deg);
}
.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--sec-color);
  border-radius: 5px;
  margin: 10px 0;
  background-color: var(--bgc);

  gap: 20px;
  max-width: 100%;
}
.inset-task {
  display: flex;
  align-items: center;
  max-width: 500px;
  gap: 10px;
  flex-grow: 1;
}

.task {
  color: var(--sec-color);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.delete-icon {
  align-self: flex-start;
  justify-self: flex-end;
  width: 37px;
  margin-top: 0.1em;
  cursor: pointer;
}
.delete-icon:hover {
  opacity: 0.8;
}
@media (max-width: 1025px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 820px) {
  .container {
    max-width: 600px;
  }
  .task-input {
    width: 500px;
  }
  .add-button {
    font-size: 1rem;
  }
}
@media (max-width: 625px) {
  .container {
    padding: 1em 10px;
    width: 500px;
  }
  .task-input {
    width: 500px;
  }
  .add-button {
    font-size: 1rem;
  }
}
@media (max-width: 510px) {
  .container {
    width: 100%;
  }
  main {
    padding: 0;
  }
  .task-input {
    width: 300px;
  }
}
@media (max-width: 380px) {
  header h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  hr {
    display: none;
  }
  main {
    padding: 0;
  }
  .container {
    padding: 0.2em 10px;
    width: 100%;
  }
  .input-container {
    gap: 5%;
    width: 100%;
  }
  .add-button {
    width: 25%;
  }
  .task-input {
    width: 70%;
  }
}
